.about {
  display: flex;
  min-height: 100vh;
  background: var(--Nimbus-Linear-3, linear-gradient(180deg, #141E30 0%, #243B55 100%));
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
  
.container {
  text-align: center;
  color: #fff;
}

.info {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info p {
  margin: 10px 0;
}
