.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff; 
}

.box-create {
  display: flex;
  max-width: 400px; 
  width: 80%;
}

.box-form {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ddd; 
  border-radius: 4px;
  font-size: 16px;
}

.btn-create {
  background-color: #00A3FF; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  margin-bottom: 16px;
  align-items: center; 
  justify-content: center;
}

.btn-create:hover {
  background-color: rgb(100, 125, 207);  
}

.btn-back {
  background-color: transparent; 
  color: white; 
  padding: 10px 20px;
  border: 2px solid #00A3FF; 
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center; 
  justify-content: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif; 
}
 
.btn-back:hover {
  background-color: rgba(33, 136, 56, 0.1); 
}
